$hemlock-color: #696240;
$pavlova-color: #D7C5A2;
$casper-color: #ABC7D1;
$bali-hai-color: #8AA7B4;
$black-color: #141414;
$superblack: #010101;
$darkblue: #000007;

$darkgreen: #0a110a;
$pinegreen: #37492d;
$graygreen: #8c9d75;
$gray: #d9d5d1;
$warmgray: #c99585;
$black: #020202;

.App {
  color: $casper-color;

  .top-bar {
    background: $darkblue;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: 1;

    .menu-container {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .email-container {
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        padding-left: 1vw;
      }

      .navigation-container {
        .navigation-list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;

          li {
            list-style-type: none;
            padding-right: 1vw;
          }

          &.mobile {
            display: none;
          }
        }
      }
    }
  }

  .gradient-placeholder {
    height: 20vh;
    width: 100%;
    background: linear-gradient(to bottom, $darkblue, 90%, transparent);
  }

  .main-topic {
    width: 100%;
    height: 60vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .topic-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 20vh;
      opacity: 0.75;

      .topic-top {
        position: relative;
        right: 40px;
      }

      .topic-bottom {
        position: relative;
        left: 100px;
        top: -25px;
      }

      h2 {
        margin: 10px;
        padding: 10px;
        font-size: xx-large;
        font-weight: bolder;
        background: $darkblue;
      }
    }

    .see-more {
      margin-top: 5vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: $darkblue;
      opacity: 0.9;
    }
  }

  .header-container {
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, $darkblue, 80%, transparent);
    padding-top: 3vh;

    .logo-container {
      display: inherit;
      justify-content: inherit;
      align-items: inherit;
      padding-left: 1vw;
    }

    .navigation-container {
      .navigation-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        li {
          list-style-type: none;
          padding-right: 1vw;
        }
      }
    }
  }

  .content-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $darkblue;
    opacity: 0.95;
    margin-top: 10vh;

    .shop-header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1vh;
    }

    .shop-items-container {
      margin-top: 5vh;
      position: relative;
      width: 80%;
      display: flex;
      justify-content: space-around;

      .shop-item {
        width: 300px;
        height: 400px;
        background: $darkblue;

        .shop-item-details-container {
          p {
            margin: 0;
            padding: 0;
          }
        }

        img {
          height: 75%;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .top-bar {
      .menu-container {
        .navigation-container {
          ul {
            &.navigation-list {
              &.desktop {
                display: none;
              }

              &.mobile {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}

