// color pallete
$darkgreen: #161c10;
$pinegreen: #37492d;
$graygreen: #8c9d75;
$gray: #dbc9ab;
$warmgray: #c99585;
$bali-hai-color: #8AA7B4;
$black-color: #141414;
$hemlock-color: #696240;
$pavlova-color: #D7C5A2;
$casper-color: #ABC7D1;
$bali-hai-color: #8AA7B4;
$black-color: #141414;
$superblack: #010101;
$darkgreen: #0a110a;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $darkgreen;
  //background-image: url(./images/karkonosze.jpg);
  //background-position: 50% 75%;
  //background-attachment: fixed;
  //background-repeat:no-repeat;
  //
  background: url(./images/karkonosze.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  //background-image: url(./images/karkonosze.jpg);
  //background-position: 50% 75%;
  //background-attachment:scroll;
  //-o-background-size:cover;
  //-moz-background-size:cover;
  //-webkit-background-size:cover;
  //background-size: cover;
  //background-repeat:no-repeat;

  h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,sans-serif;
  }

  p {
    font-family: Cabin, sans-serif;
  }

  a, a:hover, a:active, a:visited {
    color: $casper-color;
    text-decoration: none;
  }

  div {
    &.root-container {
      overflow-x: hidden;
    }
  }

  @media (max-width: 768px) {
    background-attachment: scroll;
  }
}

body:after {
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  background: url(./images/karkonosze.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

